.PokemonPage {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.PokemonPage__item {
    max-width: 50%;
}

.PokemonPage__item > div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.PokemonPage__item div > img{
    width: 100%;
}

.info {
    color:rgba(0,0,0,0.5);
}